<table cellpadding="0" cellspacing="0" class="ng-scope"
    style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); width: 480px; font-size: 9pt; font-family: Arial, sans-serif; line-height: 14px;">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td colspan="2" style="box-sizing: border-box; padding: 0px 0px 5px; width: 480px; color: rgb(60, 60, 59);">
                <span class="ng-binding"
                    style="box-sizing: border-box; font-size: 11pt; font-family: &quot;Lucida Console&quot;, monospace; font-weight: bold;">Tae
                    Geun Kim</span></td>
        </tr>
        <tr style="box-sizing: border-box;">
            <td colspan="2"
                style="box-sizing: border-box; padding: 0px 0px 5px; width: 480px; color: rgb(23, 147, 210);"><span
                    ng-if="showField('title')" class="ng-binding ng-scope"
                    style="box-sizing: border-box; font-family: &quot;Lucida Console&quot;, monospace; font-size: 11pt;">Grad
                    Student at Physics &amp; Rustacean </span></td>
        </tr>
        <tr style="box-sizing: border-box;">
            <td colspan="2"
                style="box-sizing: border-box; padding: 0px 0px 2px; width: 480px; border-top: 1px dotted rgb(19, 19, 19);">
                &nbsp;</td>
        </tr>
        <tr style="box-sizing: border-box;">
            <td ng-if="showField('logo')" valign="middle" class="ng-scope"
                style="box-sizing: border-box; padding: 0px; width: 120px; vertical-align: middle;"><a
                    ng-if="showField('logoURL')" href="http://nexus.yonsei.ac.kr/" target="_blank" class="ng-scope"
                    style="box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration: none;"><img
                        border="0" alt="Logo" width="88" height="88"
                        ng-src="https://github.com/Axect/LaTeX/blob/master/Repo/QFT/logo.png?raw=true"
                        src="https://github.com/Axect/LaTeX/blob/master/Repo/QFT/logo.png?raw=true"
                        style="box-sizing: border-box; border: 0px; vertical-align: middle; width: 88px; height: 88px;" /></a>
            </td>
            <td valign="middle"
                style="box-sizing: border-box; padding: 0px; width: 360px; color: rgb(19, 19, 19); vertical-align: middle;">
                <table cellpadding="0" cellspacing="0"
                    style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; background-color: transparent;">
                    <tbody style="box-sizing: border-box;">
                        <tr style="box-sizing: border-box;"></tr>
                        <tr style="box-sizing: border-box;"></tr>
                        <tr style="box-sizing: border-box;">
                            <td
                                style="box-sizing: border-box; padding: 1px; font-family: &quot;Lucida Console&quot;, monospace; font-size: 9pt; color: rgb(19, 19, 19);">
                                <span ng-if="showField('email')" class="ng-binding ng-scope"
                                    style="box-sizing: border-box; font-size: 9pt;">axect@outlook.kr</span><span
                                    ng-if="isEveryFieldEntered('email, website')" class="ng-scope"
                                    style="box-sizing: border-box;">&nbsp;-&nbsp;</span><a ng-if="showField('website')"
                                    href="https://axect.github.io" target="_blank" class="ng-scope"
                                    style="box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration: none; font-family: Arial, sans-serif; font-size: 9pt;"><span
                                        class="ng-binding"
                                        style="box-sizing: border-box; font-family: &quot;Lucida Console&quot;, monospace; font-size: 9pt; color: rgb(19, 19, 19);">axect.github.io</span></a>
                            </td>
                        </tr>
                        <tr style="box-sizing: border-box;">
                            <td style="box-sizing: border-box; padding: 1px; color: rgb(19, 19, 19);"><span
                                    class="ng-binding"
                                    style="box-sizing: border-box; font-family: &quot;Lucida Console&quot;, monospace; font-size: 9pt;">Yonsei
                                    University 50 Yonsei-ro, Seodaemun-gu, Seoul 03722, Republic of Korea</span></td>
                        </tr>
                        <tr ng-if="isAnyFieldEntered('githubURL,facebookURL,linkedinURL,twitterURL,gplusURL,youtubeURL,instagramURL')"
                            class="ng-scope" style="box-sizing: border-box;">
                            <td style="box-sizing: border-box; padding: 2px 0px 0px 1px;"><span
                                    style="box-sizing: border-box; display: inline-block; height: 23px;"><span
                                        ng-if="showField('githubURL')" class="ng-scope"
                                        style="box-sizing: border-box;"><a
                                            href="https://github.com/Axect" target="_blank"
                                            style="box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration: none;"><img
                                                alt="Github icon" border="0" width="23" height="23"
                                                ng-src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                                src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                                style="box-sizing: border-box; border: 0px; vertical-align: middle; height: 23px; width: 23px;" /></a>&nbsp;&nbsp;</span><span
                                        ng-if="showField('facebookURL')" class="ng-scope"
                                        style="box-sizing: border-box;"><a href="https://www.facebook.com/edeftg"
                                            target="_blank"
                                            style="box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration: none;"><img
                                                alt="Facebook icon" border="0" width="23" height="23"
                                                ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator/compact-logo/fb.png"
                                                src="https://codetwocdn.azureedge.net/images/mail-signatures/generator/compact-logo/fb.png"
                                                style="box-sizing: border-box; border: 0px; vertical-align: middle; height: 23px; width: 23px;" /></a>&nbsp;&nbsp;</span><span
                                        ng-if="showField('linkedinURL')" class="ng-scope"
                                        style="box-sizing: border-box;"><a
                                            href="https://www.linkedin.com/in/tae-geun-kim" target="_blank"
                                            style="box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration: none;"><img
                                                alt="LinkedIn icon" border="0" width="23" height="23"
                                                ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator/compact-logo/ln.png"
                                                src="https://codetwocdn.azureedge.net/images/mail-signatures/generator/compact-logo/ln.png"
                                                style="box-sizing: border-box; border: 0px; vertical-align: middle; height: 23px; width: 23px;" /></a>&nbsp;&nbsp;</span></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="box-sizing: border-box;">
            <td colspan="2"
                style="box-sizing: border-box; padding: 2px 0px 0px; width: 480px; border-bottom: 1px dotted rgb(19, 19, 19);">
                &nbsp;</td>
        </tr>
    </tbody>
</table>
